ion-content{
    --background: rgb(238, 122, 45);
}

.card_login{
    background: rgb(223, 255, 251);
    margin-top: 25%;
}
.background-transparente{
    color: #311E10;
    --background: transparent;
}
.center{
    text-align: center;
}
.buttons{
    padding-top: 35%;
}
.titulo{
    font-size: 35px;
    color: black;
}